{% include 'base/header.html' %}
{% include 'base/navbar.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
             <marquee behavior="" direction="right">Welcome To AR-SOFT & IT Solution</marquee>

          <!-- Content Row -->
            <br>
                 <div class="card bg-primary text-white">
                    <div class="card-body">Product Information</div>

                     <div class="card border-secondary mb-3" style="max-width: 90rem;">
                          <div class="card-body text-secondary">
                            <h5 class="card-title"> </h5>

                              <form action="" method="post">
                                  {% csrf_token %}
                                  {{forms}}
                                  <br>
                                  <a class="btn btn-primary  btn-sm btn-block" href="">Save Item</a>
                                  <div class="form-row">
                                                <div class="col-md-12">
                                                        <hr>
                                                   <h5>Recent Entries</h5>
                                                <div class="card card-body">

                                                    <table class="table table-sm">
                                                        <tr>
                                                            <th>Item Name</th>
                                                            <th>Delete</th>
                                                        </tr>

                                                          {% for i in items %}
                                                        <tr>
                                                            <td>{{i.name}}</td>
                                                            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_product' i.id %}">Delete</a></td>
                                                        </tr>

                                                        {% endfor %}

                                                    </table>
                                                </div>
                                               </div>
                                          </div>


                              </form>

                          </div>
                     </div>
                  </div>
          <!-- Content Row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
{% include 'base/script.html' %}
{% include 'base/footer.html' %}

