{% include 'base/header.html' %}
{% include 'base/navbar.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
             <marquee behavior="" direction="right">Welcome To AR-SOFT & IT Solution</marquee>

          <!-- Content Row -->
            <br>
                 <div class="card bg-primary text-white">
                    <div class="card-body">Account Information</div>

                     <div class="card border-secondary mb-3" style="max-width: 90rem;">
                          <div class="card-body text-secondary">
                            <h5 class="card-title"> </h5>

                              <br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: </p>
			<p>Phone: </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px"></h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Qty</th>
					<th>Total</th>
					<th>Paid</th>
					<th>Rmg</th>
					<th>Date Orderd</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				{% for order in orders %}

				<tr>
					<td>{{order.item_name}}</td>
					<td>{{order.quantity}}</td>
					<td>{{order.totalAmount}}</td>
					<td>{{order.paidAmount}}</td>
					<td>{{order.remainingAmount}}</td>
					<td>{{order.date | date}}</td>
					<td><a class="btn btn-sm btn-info" href="">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="">Remove</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>




                          </div>
                     </div>
                  </div>
          <!-- Content Row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
{% include 'base/script.html' %}
{% include 'base/footer.html' %}

